/* nav>a>img
{
    border: rgb(226, 236, 244) solid 2px;
    border-radius: 50%;
    height: 4.1em;
    width: 4.1em;
} */
#submarineMenu>#imgS>button
{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    /* height: 20px;
    width: 30px;  */
    cursor: pointer;
}
table, td, tr
{
    direction: ltr;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    /* border-style: solid; */
    color: rgba(0, 0, 52);
    text-align: center;
    background-color: rgb(230, 221, 221, 0.45);
}
/* td
{
    width: 42px;
    height: 42px;
    background-color: rgb(230, 221, 221, 0);
    padding: 0px;
} */
table
{
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
}
td>button
{
    border: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(230, 221, 221, 0);
    cursor: pointer;
}
td
{
    width: 20px;
    height: 20px;
    background-color: rgb(230, 221, 221, 0);
    padding: 0px;
}
body
{
    background: url("../img/רקע.jpg"); 
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eaeaea;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#submarineMenu
{
    width: 300px;
    background-color: rgba(230, 221, 221, 0.8);
    padding-top: 8px;
    padding-bottom: 8px;
    /* margin: 10px; */
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
}
aside>div>button, article>button, #restart, #submarineMenu>button
{
    width: 90px;
    height: auto;
    padding: 5px 12px 5px 12px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 15px;
    margin: 15px 12px 7px 0px;
    border: 0px;
    background-color: rgba(21, 49, 66, 0.8);
    color: #eaeaea;
    transition: transform 0.5s;
}
/* button:hover
{
    transform: scale(1.05);
    background-color: rgba(21, 49, 66, 0.5);
}  */
#toGame
{
    transition: transform 0.3s;
    cursor: pointer;
    font-size: medium;
    /* border: none; */
}
#toGame:hover
{
    transform: scale(1.2);
    background-color: rgba(21, 49, 66, 0.5);
    /* border: 1px solid white; */
}
.btn_in_nav
{
    padding: 7px 12px 5px 12px;
    width: auto;
    height: 40px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 15px;
    margin: 15px 12px 7px 0px;
    border: 0px;
    background-color: rgba(21, 49, 66, 0.8);
    color: #eaeaea;
    transition: transform 0.5s;
}
.btn_in_nav:hover, #restart:hover, #submarineMenu>button:hover
{
    transform: scale(1.05);
    background-color: rgba(21, 49, 66, 0.5);
}


@media only screen and (max-width: 768px) 
{    
    #submarineMenu
    {
        width: 240px;
        background-color: rgba(230, 221, 221, 0.8);
        padding-top: 8px;
        padding-bottom: 8px;
        /* margin: 10px; */
        box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    }
    td>button
    {
        width: 33px;
        height: 33px;
    }
    td>button>img
    {
        width: 25px;
        height: 25px;
        margin: 0px;
    }
}