.overlay-container 
{
    /* קשור חזה האם רואים או לא */
    display: none;
    /* עושה את האפור */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    /* קשור חזה האם רואים או לא */
    opacity: 0;
    transition: opacity 0.3s ease;
}
#popup-box 
{
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 1000px;
    height: 600px;
    text-align: right;
    align-items: center;
    /* קשור חזה האם רואים או לא */
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
    /* box-sizing: inherit; */
    /* overflow-y:auto; */
    overflow-y: scroll;
}
.btn-close-popup
{
    padding: 12px 24px;
    font-size: 18px;
    background-color: rgb(6, 148, 173);
    color: #fff;
    border: none;
    border-radius: 15px;
    /* גורם לכך שכאשר עוברים על הכפתור תראה יד */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 3% 45% 3% 0%;
    /* flex-wrap: wrap; */
}
.btn-close-popup:hover
{
    background-color: rgb(109, 159, 168);
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp 
{
    from 
    {
        /* הפיכת מצב */
        opacity: 0;
        /* העליה האיטית */
        transform: translateY(20px);
    }

    to 
    {
        /* הפיכת מצב */
        opacity: 1;
        /* העליה האיטית */
        transform: translateY(0);
    }
}
h4
{
    margin-top: 9px;
    margin-bottom: 9px;
}
.h2-3_
{
    color: rgb(8, 174, 174);
    font: bolder;
    text-decoration: underline;
}
/* Animation for popup */
.overlay-container.show 
{
    display: flex;
    opacity: 1;
}


/* עיצוב של הרישמה הנפתחת */
#list 
{
    display: none;
    position: absolute;
    background-color: rgb(125, 207, 221);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0px;
}

#list button 
{
    display: block;
    width: 100%;
    margin: 0px;
    background-color: #f9f9f9;
    color: rgb(21, 49, 66, 0.8);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 9px 22px 9px 22px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#btn1
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1.5px solid rgb(21, 49, 66, 0.8);
}
#btn2
{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 0px;
}
#list button:hover 
{
    color: white;
    background-color: rgba(21, 49, 66, 0.75);
}
#list
{
    position: absolute;
    /* bottom: 20px;  /* מרווח למעלה מהתחתית 
    left: 50;  ממרכז האמצעי של העמוד */
    right: 10px;
    top: 57px;
    /* transform: translateX(-50%);  כדי להעמיד את הרשימה במרכז אופקיו של העמוד */
}