#login, #from
{
    width: 300px;
    border: 1;
    background-color: rgb(230, 221, 221, 0.76);
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    /* margin-left: 50%; */
    /* margin-right: 50%; */
}
#l, #sing 
{
    display: flex;
    height: 430px;
    margin: 0 auto;
    width: 800px;
    background-color: rgb(225, 236, 245, 0.4);
}
#sing_
{
    display: none;
}
body
{
    background: url("../img/reg.jpg");
    background-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eaeaea;
}
label 
{
    color:  #464545;
    display: block;
    font-size: 16px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
input 
{
    background: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: 3px solid rgb(255, 255, 255);
    border-left-style: hidden;
    color: #464545;
    font-size: 18px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    outline: none;
}
small
{
    color: rgb(255, 0, 0);
}
#log
{
    background-color: rgba(12, 63, 93, 0.6);
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: cursive;  */
    font-size: 145%;
    margin-bottom: 10px;
    cursor: pointer;
}
a
{
    text-decoration: none;
    color: rgb(0, 0, 52);
    font-size: 120%;
    /* color: rgb(12, 63, 93); */
}
/* nav>a>img
{
    border: rgb(226, 236, 244) solid 2px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 52); 
} */
#log:hover
{
    background-color: #464545;
}

