nav
{
    grid-area: nav;
    height: 4.4em; 
}
header
{
    grid-area: header;
}
article
{
    grid-area: article;
}
aside
{
    grid-area: aside;
    
}
footer
{
    grid-area: footer;
}
.prisa
{
    display: grid;
    grid-template-areas: "nav nav" "header header" "aside article" "footer footer";
    grid-template-rows: auto;  
    grid-template-columns: auto;
    grid-gap: 0px;
}
body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eaeaea;
    margin: 0px;
}
#logo
{
    position: absolute;
    top: 8px;
    left: 8px;
    border: rgb(226, 236, 244) solid 2px;
    border-radius: 50%;
    height: 4.2em;
    width: 4.2em;
}
input::-moz-focus-inner
{ 
    border: 0; 
}
::-moz-selection 
{
    background: #2D2F36;
}
::selection 
{
    background: rgba(0,0 , 0, 0);
}
::-webkit-selection 
{
    background: #2D2F36;
}

@media only screen and (max-width: 768px) 
{    
    /* לדף ההרשמה/התחברות */
    #welcome
    {
        display: none;
    }
    #l, #sing 
    {
        width: auto;
        background-color: rgba(225, 236, 245, 0);
    }
    #login, #from
    {
        background-color: rgb(230, 221, 221, 0.76);
        height: 380px;
    }
    #sing_
    {
        display: block;
    }
}
          
@media only screen and (max-width: 600px) 
{    
    body, #before_game
    {
        background: url("../img/reg_m.gif");
        background-size: cover;
    }
    #l, .prisa, #from, footer
    {
        display: none;
    }
}
