nav
{
    grid-area: nav;
    /* background-color: rgba(234, 234, 234, 0.8);*/
    height: 5.2em; 
    /* background-color: rgb(230, 221, 221, 0.6); */
    /* display: flex; */
}
header
{
    grid-area: header;
}
article
{
    grid-area: article;
}
aside
{
    grid-area: aside;
    /* display: flex; */
}
footer
{
    grid-area: footer;
}
.prisa
{
    /* direction: rtl; */
    display: grid;
    grid-template-areas: "nav nav" "header header" "article aside" "footer footer";
    /* grid-template-rows: 10% 15% 110% 40%;  */
    grid-template-rows: auto;  
    grid-template-columns: 30% 70%;
    /* grid-template-columns: auto; */
    grid-gap: 0px;
}
body
{
    background: url("../img/רקע.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eaeaea;
    margin: 0px;
}
#logo
{
    position: absolute;
    top: 8px;
    left: 8px;
    border: rgb(226, 236, 244) solid 2px;
    border-radius: 50%;
    height: 4.2em;
    width: 4.2em;
}
/* #user
{
    border: 0;
    background-color: rgb(255, 255, 255, 0);
} */

input::-moz-focus-inner
{ 
    border: 0; 
}
::-moz-selection 
{
    background: #2D2F36;
}
::selection 
{
    background:  rgba(0,0 , 0, 0);
}
::-webkit-selection 
{
    background: #2D2F36;
}

@media only screen and (max-width: 850px) 
{     
    td>button
    {
        width: 33px;
        height: 33px;
    }
    td>button>img
    {
        width: 25px;
        height: 25px;
        margin: 0px;
    }
    #your_tor, #c_tor
    {
        margin: 10px 30% 10px 30%;
    } 
}

@media only screen and (max-width: 768px) 
{        
    #sub_manu
    {
        width: 179px;
        margin-left: 10%;
        box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.22);
    }
    #your_sub, #c_sub
    {
        width: 172px;
    }
    #c_sub_2>table, #c_sub_1>table, #c_sub_0>table, #your_sub_2>table, #your_sub_1>table, #your_sub_0>table
    {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 10px;
    }
    td
    {
        width: 12px;
        height: 12px;
        background-color: rgb(230, 221, 221, 0);
    }
    h3
    {
        font-size: 100%;
    }
}
          
@media only screen and (max-width: 600px) 
{    
    body
    {
        background: url("../img/reg_m.gif");
        background-size: cover;
    }
    .prisa
    {
        display: none;
    }
}
